.social-media-list {
  display: flex;
  position: absolute;
  height: 10vh;
  width: 30vw;
  align-items: center;
  justify-content: space-around;
  z-index: 10;
  /*height: 10vh;*/
  /*width: 30vw;*/
  /*position: absolute;*/
  /*left: 50%;*/
  /*transform: translateX(-50%);*/
  /*-webkit-transform: translateX(-50%);*/
  /*bottom: 2em;*/
  /*display: flex;*/
  /*align-items: center;*/
  /*justify-content: space-around;*/
  /*z-index: 10;*/
}

@media(max-width:768px) {
  .social-media-list {
    width: 80vw;
  }
}