header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5vh;
  flex-direction: column;
  margin-bottom: 5vh;
}

.top {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.bottom {
  width: 30vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-top: 2vh;
}

body {
  background-color: #EEEEEE;
}

#logo {
  width: 30vw;
}

* {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.icons a:hover{
  color: #771F1F;
}

a {
  text-decoration: none;
  color: black;
}

nav a {
  padding: .2em 1em;
  color: #EEEEEE;
  background-color: #000000;
}

nav a:hover {
  background-color: #771F1F;
}

.main {
  margin-left: 20vw;
  margin-right: 20vw;
}

p {
  line-height: 1.4em;
}

#gallery {
  display: flex;
  align-items: middle;
  justify-content: center;
  flex-wrap: wrap;
}

#gallery a{
  margin-left: 0.3em;
  margin-right: 0.3em;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}

#gallery-nav {
  display: flex;
  justify-content: center;
}
