header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5vh;
  flex-direction: column;
  margin-bottom: 5vh;
}

.top {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-top: 2vh;
}

body {
  background-color: #EEEEEE;
}

#logo {
  width: 30vw;
}

* {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.icons a:hover{
  color: #771F1F;
}

a {
  text-decoration: none;
  color: black;
}

nav a {
  padding: .2em 1em;
  color: #EEEEEE;
  background-color: #000000;
}

nav a:hover {
  background-color: #771F1F;
}

@media (max-width:1000px){
  .main {
    margin-left: 5vw;
    margin-right: 5vw;
  }
}

@media (min-width:1001px){
  .main {
    margin-left: 20vw;
    margin-right: 20vw;
  }
}

p {
  line-height: 1.4em;
}

#gallery {
  display: flex;
  align-items: middle;
  justify-content: space-between;
  flex-wrap: wrap;
}

#gallery a img{
  margin-left: 0.3em;
  margin-right: 0.3em;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
  border: 1px solid;
}

#gallery-nav {
  display: flex;
  justify-content: center;
}

.sponsors{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

a.sponsor{
  margin: 1em 1em 1em 1em;
  background-size: contain;
  background-repeat: no-repeat;
}

a.sponsor:hover > img{
  visibility: hidden;
}
