.page-title {
  position: absolute;
  font-size: 10vw;
  font-weight: 100;
  text-align: center;
  display: block;
  left: 0;
  right: 0;
  top: calc(5vw + 50px);
  color: #000;
}

.about-outer {
  width: 65%;
  margin-top: 30vw;
  margin-left: auto;
  margin-right: auto;
}

.about-outer > p {
  font-weight: 100;
  line-height: 1.6;
}

.main-h2 {
  margin-top: 100px;
  margin-bottom: 1vw;
  font-size: 2.75em;
  width: 100%;
  padding: 0.25em;
  background-color: #eee;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  color: #000;
  font-weight: 100;
}

.about-img {
  width: 25vw;
  height: auto;
  clear: both;
  margin: 0;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

.about-img.left {
  float: left;
  margin-right: 2em;
  clear: left;
}

.about-img.right {
  float: right;
  margin-left: 2em;
}

@media(max-width:768px) {
  .about-outer {
    width: 80% !important;
    margin-top: 40vw !important;
  }

  .page-title {
    font-size: 15vw !important;
    top: calc(5vw + 50px) !important;
  }
}

@media(max-width:450px) {
  .page-title {
    font-size: 7.5vw;
    top: calc(4vw + 50px);
  }
}