<div>
  <h2>Who We Are</h2>
  <div class="content">
    <div class="text">
      <p>
        We are Fairview High School's FIRST Robotics Team, the Black Knights! We began in 2007, and we have competed in the FIRST Robotics Competition (FRC) at the Denver regional every year since. In 2010, our team won the regional and attended the World Championship in Atlanta!
      </p>
      <p>
        At the beginning of the school year, we meet once a week. However, during the six-week build season beginning in January, we meet up to six times a week to work on our robot. We compete at regional events like the Denver regional, and are hoping to get to the World Championship this season!
      </p>
    </div>
  </div>
</div>

<div>
  <h2>What We Do</h2>
  <div class="content">
    <div class="text">
      <p>
        We design, create and test a robot to compete in the FIRST Robotics Competition. Our past robots have been able to shoot frisbees, climb pyramids, toss basketballs, and balance on bridges!
      </p>
      <p>
        All of this takes a lot of work: our team members focus on aspects of electric engineering, programming, mechanical testing, fundraising and web design. It is not necessary to have previous technical knowledge. We guarantee you'll learn something and contribute to the team!
      </p>
    </div>
  </div>
</div>
