<div class="companies">
    <a class="company" href="http://medtronic.com" style="background-image: url(img/companies/Medtronic.hover.png);">
      <img class="company" src="img/companies/Medtronic.png" style="height: auto; width: 38.7vw;">
    </a>
    <a class="company" href="http://pizzarev.com/" style="background-image: url(img/companies/PizzaRev.hover.png);">
      <img class="company" src="img/companies/PizzaRev.png" style="height: auto; width: 9vw;">
    </a>
    <a class="company" href="http://www.wdc.com/" style="background-image: url(img/companies/Western%20Digital.hover.png);">
      <img class="company" src="img/companies/Western Digital.png" style="height: auto; width: 38.7vw;">
    </a>
    <a class="company" href="https://bouldercolorado.gov/child-youth-family/youth-opportunities-program" style="background-image: url(img/companies/Youth%20Oppurtunities%20Program.hover.png);">
      <img class="company" src="img/companies/Youth Oppurtunities Program.png" style="height: auto; width: 22.5vw;">
    </a>
    <a class="company" href="" style="background-image: url(img/companies/Sword%20and%20Stone%20Productions.hover.png);">
      <img class="company" src="img/companies/Sword and Stone Productions.png" style="height: auto; width: 28.8vw;">
    </a>
    <a class="company" href="http://minutekey.com/" style="background-image: url(img/companies/MinuteKey.hover.png);">
      <img class="company" src="img/companies/MinuteKey.png" style="height: auto; width: 27vw;">
    </a>
    <a class="company" href="http://www.ball.com/aerospace" style="background-image: url(img/companies/Ball.hover.png);">
      <img class="company" src="img/companies/Ball.png" style="height: auto; width: 27vw;">
    </a>
    <a class="company" href="http://www.lockheedmartin.com/" style="background-image: url(img/companies/Lockheed%20Martin.hover.png);">
      <img class="company" src="img/companies/Lockheed Martin.png" style="height: auto; width: 18vw;">
    </a>
    <a class="company" href="http://www.hitachi.us/" style="background-image: url(img/companies/Hitachi.hover.png);">
      <img class="company" src="img/companies/Hitachi.png" style="height: auto; width: 18vw;">
    </a>
    <a class="company" href="https://quickleft.com/" style="background-image: url(img/companies/QuickLeft.hover.png);">
      <img class="company" src="img/companies/QuickLeft.png" style="height: auto; width: 18vw;">
    </a>
</div>
