<style>
  .sponsors{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  img.sponsor{
    filter:invert(100%);
  }
</style>

<div class="sponsors">
    <a class="sponsor" href="http://medtronic.com">
      <img class="sponsor" src="img/sponsors/Medtronic.png" style="height: auto; width: 38.7vw;">
    </a>
    <a class="sponsor" href="http://pizzarev.com/">
      <img class="sponsor" src="img/sponsors/PizzaRev.png" style="height: auto; width: 9vw;">
    </a>
    <a class="sponsor" href="http://www.wdc.com/">
      <img class="sponsor" src="img/sponsors/Western Digital.png" style="height: auto; width: 38.7vw;">
    </a>
    <a class="sponsor" href="https://bouldercolorado.gov/child-youth-family/youth-opportunities-program">
      <img class="sponsor" src="img/sponsors/Youth Oppurtunities Program.png" style="height: auto; width: 22.5vw;">
    </a>
    <a class="sponsor" href="">
      <img class="sponsor" src="img/sponsors/Sword and Stone Productions.png" style="height: auto; width: 28.8vw;">
    </a>
    <a class="sponsor" href="http://minutekey.com/">
      <img class="sponsor" src="img/sponsors/MinuteKey.png" style="height: auto; width: 27vw;">
    </a>
    <a class="sponsor" href="http://www.ball.com/aerospace">
      <img class="sponsor" src="img/sponsors/Ball.png" style="height: auto; width: 27vw;">
    </a>
    <a class="sponsor" href="http://www.lockheedmartin.com/">
      <img class="sponsor" src="img/sponsors/Lockheed Martin.png" style="height: auto; width: 18vw;">
    </a>
    <a class="sponsor" href="http://www.hitachi.us/">
      <img class="sponsor" src="img/sponsors/Hitachi.png" style="height: auto; width: 18vw;">
    </a>
    <a class="sponsor" href="https://quickleft.com/">
      <img class="sponsor" src="img/sponsors/QuickLeft.png" style="height: auto; width: 18vw;">
    </a>
</div>
