<div id="gallery">
  <a href="img/gallery/2016-bag/0.jpg">
      <img src="img/gallery/2016-bag/thumbnails/0.jpg" />
    </a>
  <a href="img/gallery/2016-bag/1.jpg">
      <img src="img/gallery/2016-bag/thumbnails/1.jpg" />
    </a>
  <a href="img/gallery/2016-bag/2.jpg">
      <img src="img/gallery/2016-bag/thumbnails/2.jpg" />
    </a>
  <a href="img/gallery/2016-bag/3.jpg">
      <img src="img/gallery/2016-bag/thumbnails/3.jpg" />
    </a>
  <a href="img/gallery/2016-bag/4.jpg">
      <img src="img/gallery/2016-bag/thumbnails/4.jpg" />
    </a>
  <a href="img/gallery/2016-bag/5.jpg">
      <img src="img/gallery/2016-bag/thumbnails/5.jpg" />
    </a>
  <a href="img/gallery/2016-bag/6.jpg">
      <img src="img/gallery/2016-bag/thumbnails/6.jpg" />
    </a>
  <a href="img/gallery/2016-bag/7.jpg">
      <img src="img/gallery/2016-bag/thumbnails/7.jpg" />
    </a>
  <a href="img/gallery/2016-bag/8.jpg">
      <img src="img/gallery/2016-bag/thumbnails/8.jpg" />
    </a>
  <a href="img/gallery/2016-bag/9.jpg">
      <img src="img/gallery/2016-bag/thumbnails/9.jpg" />
    </a>
  <a href="img/gallery/2016-bag/10.jpg">
      <img src="img/gallery/2016-bag/thumbnails/10.jpg" />
    </a>
  <a href="img/gallery/2016-bag/11.jpg">
      <img src="img/gallery/2016-bag/thumbnails/11.jpg" />
    </a>
  <a href="img/gallery/2016-bag/12.jpg">
      <img src="img/gallery/2016-bag/thumbnails/12.jpg" />
    </a>
  <a href="img/gallery/2016-bag/13.jpg">
      <img src="img/gallery/2016-bag/thumbnails/13.jpg" />
    </a>
  <a href="img/gallery/2016-bag/14.jpg">
      <img src="img/gallery/2016-bag/thumbnails/14.jpg" />
    </a>
  <a href="img/gallery/2016-bag/15.jpg">
      <img src="img/gallery/2016-bag/thumbnails/15.jpg" />
    </a>
  <a href="img/gallery/2016-bag/16.jpg">
      <img src="img/gallery/2016-bag/thumbnails/16.jpg" />
    </a>
  <a href="img/gallery/2016-bag/17.jpg">
      <img src="img/gallery/2016-bag/thumbnails/17.jpg" />
    </a>
  <a href="img/gallery/2016-bag/18.jpg">
      <img src="img/gallery/2016-bag/thumbnails/18.jpg" />
    </a>
  <a href="img/gallery/2016-bag/19.jpg">
      <img src="img/gallery/2016-bag/thumbnails/19.jpg" />
    </a>
  <a href="img/gallery/2016-bag/20.jpg">
      <img src="img/gallery/2016-bag/thumbnails/20.jpg" />
    </a>
  <a href="img/gallery/2016-bag/21.jpg">
      <img src="img/gallery/2016-bag/thumbnails/21.jpg" />
    </a>
  <a href="img/gallery/2016-bag/22.jpg">
      <img src="img/gallery/2016-bag/thumbnails/22.jpg" />
    </a>
  <a href="img/gallery/2016-bag/23.jpg">
      <img src="img/gallery/2016-bag/thumbnails/23.jpg" />
    </a>
  <a href="img/gallery/2016-bag/24.jpg">
      <img src="img/gallery/2016-bag/thumbnails/24.jpg" />
    </a>
  <a href="img/gallery/2016-bag/25.jpg">
      <img src="img/gallery/2016-bag/thumbnails/25.jpg" />
    </a>
  <a href="img/gallery/2016-bag/26.jpg">
      <img src="img/gallery/2016-bag/thumbnails/26.jpg" />
    </a>
  <a href="img/gallery/2016-bag/27.jpg">
      <img src="img/gallery/2016-bag/thumbnails/27.jpg" />
    </a>
  <a href="img/gallery/2016-bag/28.jpg">
      <img src="img/gallery/2016-bag/thumbnails/28.jpg" />
    </a>
  <a href="img/gallery/2016-bag/29.jpg">
      <img src="img/gallery/2016-bag/thumbnails/29.jpg" />
    </a>
  <a href="img/gallery/2016-bag/30.jpg">
      <img src="img/gallery/2016-bag/thumbnails/30.jpg" />
    </a>

</div>

<script>
  $("#gallery").lightGallery({
    thumbnail:true
  });
</script>

<style>
  nav#gallery-nav a.g2016-bag {
    background-color: #771F1F;
  }
</style>
